:root{
  --primery-title-color: #ffffff;
  --primery-text-color:#FFFFFF;
  --secondary-text-color:#282828;
  --bg-color:#E6E3C4;
  --accent-color:#998431;

  --function-transition: cubic-bezier(0.4, 0, 0.2, 1);
}

html{
  box-sizing: border-box;

  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

h1,
h2,
h3,
ul,
ol,
li,
p,
section{
  margin: 0;
  padding: 0;
}

body{
  font-family: montserrat, sans-serif;
  font-style: normal;
  line-height: 1.5;
  color:var(--primery-text-color);
  background-color: var(--secondary-text-color);

  
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1110px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  /* padding-top: 60px;
  padding-bottom: 60px; */
}

image{
  display: block;
  width: 100%;
}

.link{
  color:inherit;
  text-decoration: none;
  font-style: normal;
  /* color: var(--primery-text-color); */
}

.list{
  font-weight: 400;
  font-size: 14px;
  list-style: none;
  text-align: center;
}

.btn{
  display: inline-block;
  padding: 15px 30px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color:var(--primery-text-color);
  background-color: var(--accent-color);

  transition: color 250ms var(--function-transition), background-color 250ms var(--function-transition);
}

.btn:hover,
.btn:focus,
.novelty .btn:hover,
.novelty .btn:focus{
  color:var(--accent-color);
  background-color: #ffffffbc;
}

.section{
  padding-top: 100px;
  padding-bottom: 100px;
}

